.section-container {
    max-width: 1360px;
    padding: 0 24px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.reviews {
    display: flex;
    width: 100%;
    color: var(--toastify-color-dark);
}
.reviews-tabs {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.reviews-controls {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.reviews-control-btn {
    font-family: 'Gilroy';
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    color: var(--grey-color);
    letter-spacing: 0.02em;
    transition: color 0.3s ease;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.reviews-control-active {
    color: var(--toastify-color-dark);
    pointer-events: none;
}
.reviews-content {
    display: grid;
    grid-template-rows: 324px 116px 324px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
}

.reviews-card-text {
    --avatar-width: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 24px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: var(--ghost-white-color);
    box-sizing: border-box;
}
.reviews-card-text-border {
    --avatar-width: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 24px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: var(--ghost-white-color);
    box-sizing: border-box;
    padding: 20px 24px;
    border: 3px solid var(--toastify-color-dark);
    background-color: transparent;
}
.reviews-card-text-userBlock {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}
.reviews-card-text-userAvatar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--avatar-width);
    height: var(--avatar-width);
    overflow: hidden;
    border-radius: 50%;
    @media (max-width: 1023px) {
        position: relative;
        top: auto;
        left: auto;
        align-items: flex-start;
    }
}
.reviews-card-text-info {
    position: absolute;
    top: -2px;
    left: calc(var(--avatar-width) + 14px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - var(--avatar-width));
}
.reviews-card-text-infoItem-white {
    position: relative;
    max-width: 100%;
    padding: 4px 15px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    letter-spacing: 0.02em;
    white-space: nowrap;
    border-style: solid;
    border-width: 2px;
    border-radius: 68px;
    z-index: 1;
    margin-bottom: -2px;
    color: var(--toastify-color-dark);
    background-color: var(--toastify-color-light);
    border-color: var(--toastify-color-dark);
    transform: rotate(3deg);
    @media (max-width: 1023px) {
        transform: rotate(0deg);
    }
}

.reviews-card-text-infoItem-black {
    position: relative;
    max-width: 100%;
    padding: 4px 15px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    letter-spacing: 0.02em;
    white-space: nowrap;
    border-style: solid;
    border-width: 2px;
    border-radius: 68px;
    color: var(--toastify-color-light);
    background-color: var(--toastify-color-dark);
    border-color: var(--toastify-color-light);
    transform: rotate(-2deg);
}
.reviews-card-text-content {
    font-size: 32px;
    line-height: 40px;
    max-height: 194px;
    overflow: hidden;
    color: var(--toastify-color-dark);
    @media (max-width: 1023px) {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
}

.reviews-card-text-btn {
    margin-top: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--blue-color);
    letter-spacing: 0.02em;
    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
}

.reviews-card-text4-content {
    color: var(--toastify-color-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    @media (max-width: 1023px) {
        padding-right: 5%;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
    }
}

.review-content-item {
    grid-row: 1/2;
    grid-column: 1/3;
}
.review-content-item-1 {
    grid-row: 1/2;
    grid-column: 3/3;
    @media (max-width: 1023px) {
        display: none;
    }
}
.review-content-item-2 {
    grid-row: 1/3;
    grid-column: 4/5;
    @media (max-width: 1023px) {
        display: none;
    }
}

.review-content-item-3 {
    grid-row: 2/4;
    grid-column: 1/2;
    @media (max-width: 1023px) {
        grid-row: 1/2;
        grid-column: 3/5;
    }
}
.review-content-item-4 {
    grid-row: 2/4;
    grid-column: 2/2;
    @media (max-width: 1023px) {
        grid-row: 2/3;
        grid-column: 1/3;
    }
}
.review-content-item-5 {
    grid-row: 2/4;
    grid-column: 3/4;
    @media (max-width: 1023px) {
        display: none;
    }
}
.review-content-item-6 {
    grid-row: 3/4;
    grid-column: 4/4;
    @media (max-width: 1023px) {
        grid-row: 2/3;
        grid-column: 3/5;
    }
}
.review-content-item-7 {
    @media (max-width: 1023px) {
        display: none;
    }
}
